<!DOCTYPE html>
<html>
<head>
  <title>Show Images</title>
  <style>
    /* Basic styles for layout and image containers */
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }

    .image-container {
      border: 1px solid #ccc;
      padding: 10px;
      margin: 10px;
      max-width: 400px;
    }

    .image {
      max-width: 100%;
      height: auto;
    }

    .description {
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <h2>All Tour List</h2>
  <% byebug %>
  <% tours.each do |tour| %>
    <div class="image-container">
       <% tour.images.each do |image| %>
       <%= image_tag url_for(image) %>
       <% end %>

      <div class="description">
        <p>Destination Name: <%= tour.destination_name %> [ <%= link_to 'Click for more details', traveller_path(tour)%> ] </p>
      </div>
    </div>
  <% end %>
</body>
</html>
